@model LeadNew.Models.tbEmpresa

@{
    ViewData["Title"] = "Create";
}

<h2>Crear Empresa</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label for="formGroupExampleInput">*Nombre de la Empresa:</label>
            <input type="text" class="form-control" id="empNombre" placeholder="Nombre Empresa">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">*Direccion Empresa:</label>
            <input type="text" class="form-control" id="empDireccion" placeholder="Direccion Empresa">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">*Telefono Empresa:</label>
            <input type="text" class="form-control" id="empTelefono" placeholder="Telefono Empresa">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">Subir Logo Empresa:</label>
            <input type="file" />
        </div>
        <div class="form-group">
            <label>*Seleccionar Pais:</label>
            <div class="form-group">
                <select class="form-control" id="empPais" name="empPais"></select>
            </div>
        </div>
        <div class="form-group">
            <label>*Seleccionar Moneda:</label>
            <select class="form-control" id="empMoneda" name="empMoneda"></select>
        </div>
        <div class="form-group">
            <label>*Seleccionar Lenguaje:</label>
            <select class="form-control" id="empLenguaje" name="empLenguaje"></select>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">*Licencia:</label>
            <input type="text" class="form-control" id="empLicencia" placeholder="Licencia Empresa">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput">*Cantidad de Usuarios:</label>
            <input type="text" class="form-control" id="empCantidadUser" placeholder="Cantidad de Usuarios">
        </div>

        <button type="button" class="btn btn-success btn-lg btn-block" onclick="formcheck();">Crear Empresa</button>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function formcheck() {
            var isValid = true;
            $('input[type="text"], input[type = "password"], input[type = "number"]').each(function () {
                if ($.trim($(this).val()) == '') {
                    isValid = false;
                    $(this).css({
                        "border": "1px solid red"
                    });
                }
                else {
                    $(this).css({
                        "border": "",
                        "background": ""
                    });
                }
            });
            if (isValid == false) {
                e.preventDefault();
            } else {
                Crear();
            }
        }

        function Crear() {
            var fd = new FormData();
            var fd = new FormData();
            var empNombre = $("#empNombre").val();
            var empDireccion = $("#empDireccion").val();
            var empTelefono = $("#empTelefono").val();
            var empPais = $("#empPais").val();
            var empMoneda = $("#empMoneda").val();
            var empLenguaje = $("#empLenguaje").val();
            var empLicencia = $("#empLicencia").val();
            var empCantidadUser = $("#empCantidadUser").val();

            fd.empNombre("empNombre", empNombre);
            fd.empDireccion("empDireccion", empDireccion);
            fd.empTelefono("empTelefono", empTelefono);
            fd.empPais("empPais", empPais);
            fd.empMoneda("empMoneda", empMoneda);
            fd.empLenguaje("empLenguaje", empLenguaje);
            fd.empLicencia("empLicencia", empLicencia);
            fd.empCantidadUser("empCantidadUser", empCantidadUser);

            $.ajax({
                url: '@Url.Action("CrearEmpresa", "tbEmpresa")',
                type: 'POST',
                cache: false,
                processData: false,
                contentType: false,
                processData: false,
                dataType: 'json',
                data: fd,
                success: function (data) {
                    if (data == true) {
                        location.href = '@Url.Action("Index", "tbEmpresa")';
                    } else if (data == false){
                        alert("Error al ingresar Empresa");
                    }
                },
                error: function (jqXHR, textStatus, error) {
                    var exception = JSON.parse(jqXHR.responseText);
                    alert("error al enviar datos" + exception);
                }
            });
        }
    </script>

<script type="text/javascript">
    $('#lbl_cb2').hide();
    $('#empId').hide();
    $('#empPais').change(function () {
        var empId = "";
        empId = $('#empPais').val();
        if (empId === "Seleccione....") {
            $('#lbl_cb2').hide();
            $('#empPais').hide();
        } else {
            var laURLDeLaVista = '@Url.Action("PaisesLista", "tbPaises")';
            $.ajax
        }

    }
</script>
}