@*@model LeadNew.Models.tbMoneda*@

@{
    ViewData["Title"] = "Delete";
}

    <div style="padding-top: 5em;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Inicio</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "tbMonedas")">Listado de monedas</a></li>
                <li class="breadcrumb-item active" aria-current="page">editar monedas</li>
            </ol>
        </nav>
        <h2>Eliminar</h2>
        @foreach (var item in ViewData["monedas"] as IEnumerable<LeadNew.Models.MonedaVista>)
        {
            <h3>¿Estás seguro de eliminar la siguiente moneda @item.moNombre?</h3>
            <form asp-action="Delete">
                <input type="hidden" asp-for="@item.moId" />
                <input type="submit" value="Eliminar" class="btn btn-danger" />
            </form>
        }

    </div>