@model LeadNew.Models.tbLenguaje

@{
    ViewData["Title"] = "Delete";
}

<h2>Eliminar</h2>

<h3>Esta Seguro que quiere Borrar este registro?</h3>
<div>
    <h4>Eliminar Lenguaje</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.lenNombre)
        </dd>
        <dt>
            Fecha de Activacion:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.lenFehcaActivacion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="lenId" />
        <input type="submit" value="Eliminar" class="btn btn-default" /> |
        <a asp-action="Index">Regreso Inicio</a>
    </form>
</div>
